@model UserVM
@{
    ViewData["Title"] = " | Manage Users";
}

<style>
    .text-white {
        color: white;
    }
</style>

<h1 class="mb-2 text-white">Manage Users</h1>

<h5 class="mt-2 text-white"><a asp-action="Add" class="text-white">Add a User</a></h5>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr><th class="text-white">Username</th><th class="text-white">Roles</th><th></th><th></th><th></th><th></th></tr>
    </thead>
    <tbody>
        @if (Model.Users.Count() == 0)
        {
            <tr><td colspan="6" class="text-white">There are no user accounts.</td></tr>
        }
        else
        {
            @foreach (AppUser user in Model.Users)
            {
                <tr>
                    <td class="text-white">@user.UserName</td>
                    <td class="text-white">
                        @foreach (string roleName in user.RoleNames)
                        {
                            <div class="text-white">@roleName</div>
                        }
                    </td>
                    <td>
                        <form method="post" asp-action="Delete"
                              asp-route-id="@user.Id">
                            <button type="submit" class="btn btn-primary">
                                Delete User
                            </button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-action="AddToAdmin"
                              asp-route-id="@user.Id">
                            <button type="submit" class="btn btn-primary">
                                Add To Admin
                            </button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-action="RemoveFromAdmin"
                              asp-route-id="@user.Id">
                            <button type="submit" class="btn btn-primary">
                                Remove From Admin
                            </button>
                        </form>
                    </td>
                    <td>
                        @if (User.IsInRole("GF"))
                        {
                            <form method="post" asp-action="AddToGF"
                                  asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-primary">
                                    Add To GF
                                </button>
                            </form>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h1 class="mb-2 text-white">Manage Roles</h1>

@if (User.IsInRole("Admin"))
{
    <form method="post" asp-action="CreateGFRole">
        <button type="submit" class="btn btn-primary">
            Create GF Role
        </button>
    </form>
}

@if (Model.Roles.Count() == 0)
{
    <form method="post" asp-action="CreateAdminRole">
        <button type="submit" class="btn btn-primary">
            Create Admin Role
        </button>
    </form>
}
else
{
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr><th class="text-white">Role</th><th></th></tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles)
            {
                <tr>
                    <td class="text-white">@role.Name</td>
                    <td>
                        <form method="post" asp-action="DeleteRole"
                              asp-route-id="@role.Id">
                            <button type="submit" class="btn btn-primary">
                                Delete Role
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}